{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link href="{% static 'prod/fontawesome/css/all.min.css' %}" rel="stylesheet" />
    <link href="{% static 'prod/css/templatemo-comparto.css' %}" rel="stylesheet" />
    <title>Comparto HTML CSS Template</title>
<!--

Comparto TemplateMo

https://templatemo.com/tm-544-comparto

-->
    <style>
        .im{
        height:700px;
        width :800px;
        }
    </style>
</head>

<body>
    <br><br>
        </div>
        <section class="tm-mb-1" id="about">
            <div class="tm-row tm-about-row">
                <div class="tm-section-1-l">
                    <img class="im" src="{{pr.img.url}}" alt="About image" class="tm-img-responsive">
                </div>
                <article class="tm-section-1-r tm-bg-color-8">
                    <h2 class="tm-mb-2 tm-title-color">{{pr.name}}</h2>
                    <p>Product details : <br>{{pr.desc}}</p>
                    <p>Price : {{pr.price}}&nbsp;Rs<br>
<!--                    <p>You cannot redistribute this template ZIP file in any template collection website. Please <a rel="nofollow" href="https://templatemo.com/contact" target="_parent">contact TemplateMo</a> if you have any question.</p>-->
                    <p>Stock left : {{pr.stock}}</p>
                    {% if pr.stock <= 0 %}
                         <h1 style="color:red">Sorry...No stock left</h1>
                    {% else %}


                    <center><a href="{% url 'addcart' pr.id %}" class="tm-btn tm-btn-1 tm-link-to-services">Add to Cart</a>
                    </center>
                        {% endif %}


                </article>
            </div>
        </section>
        





</body>
</html>
{% endblock %}
